


<!--update.html-->
{% extends "../layout.html" %}
{% block comment %} {% load crispy_forms_tags %}  {% endblock %}
{% load static %}

{% block content %}

<div class="content-section">
    {{ form.media }}
    <form method="post">
        <fieldset>
            <legend class="border-bottom pd-2 mb-4 text-center">Update Inventory Form</legend>
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
           <div class="form-group pt-4">

            <button class="btn btn-outline-success" type="submit" >Update Inventory</button>
           </div>
        </fieldset>
    </form>
</div>

{% endblock %}